:root {
  --dark-one: midnightblue;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 400px;
}

h1 {
  background-color:blanchedalmond;
  color: var(--dark-one);
  padding: 10px;
  border: solid blanchedalmond 5px;
}

h2 {
  color: blanchedalmond;
  background-color:  var(--dark-one);
  padding: 5px;
  border: solid  var(--dark-one) 5px;
}

h3 {
  color: var(--dark-one);
  border: 5px dotted goldenrod;
  padding: 5px;
}

table {
    border: 5px solid darkolivegreen;
    padding: 10px;
    border-radius: 30%;
    text-align: left;
    line-height: 20px;
    background-color: gold;
    font-weight: bold;
  }

td {
    border: 3px solid var(--dark-one);
    text-align: left;
    line-height: 20px;
    background-color: rgba(140, 240, 161);
    font-weight: bold;
  }

th {
    text-align: center;
    font-size: 30px;
    padding: 8px;
    background-color: darkslategray;
    color: blanchedalmond;
    border: 1px solid blanchedalmond;
  }

#CTA {
  border: 5px solid var(--dark-one);
  padding: 7px;
  background-color: gold;
  font-weight: bold;
}
